html, body {margin: 0; padding: 0};

/* Router */
.text-link {
    text-decoration: none;
}
.notBtn{
    display: flex; align-items: center; justify-content: center;
    width:80px; height:50px; border-radius: 3px; border: 2px solid #707cbf;
    background: #5c6bc0; color:white; font-size: 18px;
}.notBtn:hover{cursor: pointer;}
.notBtnGrey{
    display: flex; align-items: center; justify-content: center;
    width:80px; height:50px; border-radius: 3px; border: 2px solid grey;
    background: #9e9e9e; color:white; font-size: 18px;
}.notBtnGrey:hover{cursor: default;}

.borders{
    background: white; 
    outline: none; border: 1px solid grey; border-radius: 1px;
    height: 25px; width: 175px; padding: 0px 10px 0px 10px;
    margin-right: 0px; 
}
.bordersSmall{
    border: 1px solid grey; background: white; outline:none; border-radius: 1px;
    height: 25px; width: 50px; margin-right: 0px; padding: 0px 10px 0px 10px;
}
.points{
    width: 50px;
} th div:hover {cursor: pointer;}
tbody svg:hover {cursor: pointer;}

.newItem{
    margin-top:15px; outline: none; padding: 0px 0px 0px 10px;
    height:45px; width:250px;
} /* .newItem:hover{box-shadow: 0px 2px 2px; outline:none} */ 
#hoverGreen {color:#38C172} 
#hoverGreen:hover{
    cursor: pointer;
    color:#2FA360; transition: .3s;
}

.taskList{
    height: 400px; width: auto; overflow: scroll;
} 

.tbodySection:hover{background:#e2e2e2; transition:.4s;cursor:pointer;}
#tbodySectionComplete{background:#38c172;color:white;transition:.5s;}

.updateBtnFail{
    height: 50px; width: 160px; margin: 10px 0px 10px 0px;
    border-radius: 3px; outline:none; border: 1px solid #7a7a7a;
    background: #686868; color: white; font-size:15px;
}
.updateBtnSuccess{
    height: 50px; width: 160px; margin: 10px 0px 10px 0px;
    border-radius: 3px; outline:none; border: 1px solid #3390ff;
    background: #3390ff; color: white; font-size:15px;
}

.setCurrentBtn{
    height: 50px; width: 160px; margin: 10px 0px 10px 40px;
    border-radius: 3px; outline:none; border: 1px solid #7681bf;
    background: #5C6BC0; color: white; font-size:15px;
}
.removeCurrentBtn{
    height: 50px; width: 160px; margin: 10px 0px 10px 40px;
    border-radius: 3px; outline:none; border: 1px solid #ce6867;
    background: #ce3c39; color: white; font-size:15px;
}

/* */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

/* Editing */
#selected{background:#d4d6db};
#postBtn{width:100px; height:75px; border-top: 1px solid grey;}

/* Profile Settings */
.gridProfile{
    display: grid; grid-template-columns: 20% 80%; grid-template-rows: 100%;
    height: 100vh; 
}

.sideBar{
    display:flex; justify-content: center;
    background: #808080; 
}
.sideBarItem{
    display:flex; justify-content: center; align-items: center;
    background: white; margin: 20px 0px 0px 0px;
    width: 155px; height: 45px; 
    border-radius: 5px; font-size: 20px;
}

.mainBar{
    background: #dee2e6;
}
.mainBarItemTi{
    font-size: 22px; 
}
.mainBarItemIn{
    width: 500px; height: 50px; margin-bottom: 20px; 
    padding:0px 10px 0px 10px; font-size: 16px; color: black;
}