/* The Background Color */
.bgcNothing{
    background: #5c6bc0; color:white; height:7.5vh; width:100%; 
    display:flex; align-items:center; justify-content:space-between;
    position: fixed;
}
.bgcSomething{
    background: grey; color:white; height:7.5vh; width:100%; 
    display:flex; align-items:center; justify-content:space-between;
    position: fixed;
}

/* The White Nav Btns */
.navBtns{
    display: flex; justify-content: space-between; align-items: center;
    width: 95%; padding:0px 0px 0px 40px;
    position: absolute; 
}
.navItem{
    display: flex; align-items: center; justify-content: center;
    width:60px; height: 55px;
}
.navName{
    display: flex; justify-content: center; align-items: center; font-size: 18px;
    width: 200px; height:55px; color:white; 
    transition-timing-function: ease-in-out; transition: 1s;
}.navName:hover{cursor: pointer;}

/* Progress Bar */
.transition{
    transition: width 1s;
}

/* Tiny Bar Under */
.bgcSomething{
    background: #9e9e9e; height:7.5vh; width:100%;
}
